*{
    margin: 0;
    padding: 0;
}
:root{

}
.cabecalho{
    background-color: rgb(248, 144, 54);
    padding: 50px;
}
.corpo{
    background-color: rgb(237, 240, 242);
}
.footer{
    background-color: rgb(126, 133, 133);
}
.boton{
    position: fixed;
    top: 20px;
    left: 0px;
    padding: 10px 20px;
    background-color: blue;
    color: rgb(244, 248, 251);
    text-decoration: none;
    border-radius: 5px;
}
.boton:hover{
    background: linear-gradient(to right,#eb0f0f,#e3f60f,#1df64f);
}
.boton:active{
    font-size: 20px;
}
.video-grid{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    gap: 20px;
}

.video-item{
    background-color: black;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(red, rgb(0, 0, 0), rgb(151, 0, 0), alpha);
    height: 200px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.gallery-item {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s;
}

.gallery-item img:hover {
    transform: scale(1.05);
}
